{% extends 'mainpage/index.html' %}

{% block content %}
    <section class="py-12 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h1>Forgotten your password?</h1>
                    <p>Enter your e-mail address to obtain a new password.</p>
                    <form action="." method="post">
                        <label for="email">Enter your email:</label>
                        <input type="email" id="email" name="email">
                        {{ form.email }}
                        <p><input type="submit" value="Send e-mail"></p>
                        {% csrf_token %}
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
