{% extends 'mainpage/index.html' %}
{% block content %}
    <section class="py-12 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <form method="POST">
                        {% csrf_token %}
                        <fieldset class="form-group">
                            <legend class="border-bottom mb-4">Welcome registration to the online store</legend>

                            <div class="form-group">
                                <label for="username">Username:</label>
                                <input type="text" name="username" class="form-control" id="username" aria-describedby="usernameHelp">
                                {% if form.username.errors %}
                                    <small class="text-danger">{{ form.username.errors }}</small>
                                {% endif %}
                            </div>

                            <div class="form-group">
                                <label for="email">Email:</label>
                                <input type="text" name="email" class="form-control" id="email" aria-describedby="usernameHelp">
                                {% if form.email.errors %}
                                    <small class="text-danger">{{ form.email.errors }}</small>
                                {% endif %}
                            </div>

                            <div class="form-group">
                                <label for="password1">Password</label>
                                <input type="password" name="password1" class="form-control" id="password1">
                                {% if form.password1.errors %}
                                    <small class="text-danger">{{ form.password1.errors }}</small>
                                {% endif %}
                            </div>

                            <div class="form-group">
                                <label for="password2">Confirm Password</label>
                                <input type="password" name="password2" class="form-control" id="password2">
                                {% if form.password2.errors %}
                                    <small class="text-danger">{{ form.password2.errors }}</small>
                                {% endif %}
                            </div>

                        </fieldset>

                        <div class="form-group">
                            <button class="btn btn-outline-info" type="submit">Sing up</button>
                        </div>
                    </form>

                    <div class="border-top pt-3">
                        <small class="text-muted">
                            Already have an account? <a class="ml-2" href="{% url 'login' %}">Sing in</a>
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
